body {
  background-image: url("img/color1.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100% 100%;
  color: #333333;
}

nav {
  background-color: #8768A9;
}

.container {
  height: 100% !important
}

.navlogo {
  margin-top: 1px;
  min-width: 34%;
  width: 100px;
  max-width: 40%;
}

.hiden {
  display: none;
}

.muro {
  background-color: #F1F1F1;
  height: 100%;
}

.chip-f {
  color: #FFFFFF;
  background-color: #29487D;
  border-radius: 20ch;
}

.chip-f:hover {
  background-color: #1c3259;
}

.chip-g {
  color: #FFFFFF;
  background-color: #A72e17;
  border-radius: 20ch;
}

.chip-g:hover {
  background-color: #681a0b;
}

.material-icons {
  color: #d0cad8;
  padding-top: 10px;
  padding-left: 10px;
}

h4 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*css de botones*/

.botonmodelo {
  background-color: #e02885;
  color: #FFFFFF;
  align-content: center;
  border-radius: 20ch;
  border: none;
  width: 60%;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20%;
}

.botonmodelo:hover {
  background-color: #d51474;
}

#alert {
  color: red;
}

#separacion {
  color: white;
  padding-top: 25%;
}

.textlogin {
  color: white;
  margin-top: 10%;
}

.textarea {
  background-color: #FFFFFF;
}

/*FORMU*/

#register {
  color: white;
}

#parte {
  size: 16px;
  margin-left: 20px;
}

#mensaje {
  color: red;
  font-size: 16px;
  padding-left: 14%;
}

#btnGoogle {
  float: right;
}
#register{
  float: right;
}
.btnE{
  position: relative;
}